@font-face {
  font-family: "KerisKedyuche";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2601-3@1.0/KERISKEDU_R.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;

  ascent-override: 84%;
  descent-override: 16%;
  line-gap-override: 0%;
  size-adjust: 100%;
}

@font-face {
  font-family: "KerisKedyuche";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2601-3@1.0/KERISKEDU_B.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;

  ascent-override: 84%;
  descent-override: 16%;
  line-gap-override: 0%;
  size-adjust: 100%;
}

@font-face {
  font-family: 'OngleipParkDahyeon';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;

  ascent-override: 84%;
  descent-override: 16%;
  line-gap-override: 0%;
  size-adjust: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: none;
}


.mix {
  position: relative;
  color: white;
  font-weight: 900;
  
}

/* 1) 안쪽 밝은 파란 외곽선 */
.mix::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  /* 안쪽 외곽선 */
  -webkit-text-stroke: 7px #FFFFFF;
  color: transparent;

  /* 둥글게 퍼지는 효과 */
  filter: blur(0.5px);
}

/* 2) 바깥 강한 파란 외곽선 */
.mix::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;

  /* 바깥 외곽선 */
  -webkit-text-stroke: 14px #349EEB;
  color: transparent;

  /* 더 크게 둥글게 퍼지게 */
  filter: blur(0.5px);
}

