@font-face {
  font-family: 'Goseogu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.2/Goseogu-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-display: swap;

  ascent-override: 84%;
  descent-override: 16%;
  line-gap-override: 0%;
  size-adjust: 100%;
}

@font-face {
  font-family: 'JejuStoneWall';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2')
    format('woff2');
  font-weight: normal;
  font-display: swap;

  ascent-override: 84%;
  descent-override: 16%;
  line-gap-override: 0%;
  size-adjust: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: none;
}

.mix {
  position: relative;
  color: #3d262e;
  font-weight: 500;
}

/* 1) 안쪽 밝은 파란 외곽선 */
.mix::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  /* 안쪽 외곽선 */
  -webkit-text-stroke: 8px #ffffff;
  color: transparent;

  /* 둥글게 퍼지는 효과 */
  filter: blur(0.5px);
}

/* 2) 바깥 강한 파란 외곽선 */
.mix::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;

  /* 바깥 외곽선 */
  -webkit-text-stroke: 18px #3d262e;
  color: transparent;

  /* 더 크게 둥글게 퍼지게 */
  filter: blur(0.5px);
}
