@import "tailwindcss";

@theme {
  --color-primary: #4e4d71;
  --color-primary-dark: #3d3d59;
  --color-secondary: #5868a2;
  --color-tertiary: #4a5889;
  --color-quaternary: #3a466e;
  --color-holiday: #8a3747;
  --color-dark-gray: #2d2d2d;
}
