@font-face {
  font-family: 'SchoolSafetyTteokbokki';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2510-1@1.0/HakgyoansimTTeokbokkiB.woff2')
    format('woff2');
  font-weight: normal;
  font-display: swap;

  ascent-override: 84%;
  descent-override: 16%;
  line-gap-override: 0%;
  size-adjust: 100%;
}
