@font-face {
  font-family: "Pretendard";
  src: url("../_fonts/PretendardVariable.woff2") format("woff2-variations");
  font-display: swap;
  font-weight: 45 920;

  ascent-override: 84%;
  descent-override: 16%;
  line-gap-override: 0%;
  size-adjust: 100%;
}
