@font-face {
  font-family: "DnfTemperedBlade";
  src: url("//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf")
    format("opentype");
  font-weight: 300;
  font-display: swap;

  ascent-override: 84%;
  descent-override: 16%;
  line-gap-override: 0%;
  size-adjust: 100%;
}

@font-face {
  font-family: "DnfTemperedBlade";
  src: url("//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-display: swap;

  ascent-override: 84%;
  descent-override: 16%;
  line-gap-override: 0%;
  size-adjust: 100%;
}

@font-face {
  font-family: "DnfTemperedBlade";
  src: url("//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-display: swap;

  ascent-override: 84%;
  descent-override: 16%;
  line-gap-override: 0%;
  size-adjust: 100%;
}
